Requerimientos:

1 - virtualenv:
		Crear un entorno virtual (virtualenv env1)
		Una vez creado el entorno virtual, entrar a este (source env1/bin/activate)
		Tras eso instalar PySide6, automaticamente instalara tambien Qt (pip install PySide6)

2 - Ejecutar main.py (python3 main.py)